*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.comment-bar{
  display: flex;
  width: 817px;
  height:40px;
  background-color: #3C4047 ;
}

.comment-bar-wrapper{
  width: 819px;
  height: 89px;
  border-bottom:1px solid rgba(60,64,71, .1);

}


.cb-button:not(:first-child){
  margin-left: 5px;
}
.cb-button-wrapper{
  display: flex;
  height: 40px;
}
.comment-user-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: black;
}

.comment-user-image input{
  height: 30px;
  width: 30px;
}

.comment-input{
  position: relative;
  margin: 7px 7px;
  width: 760px;
  height: 24px;
  border: 1px transparent;
  border-radius: 4px;
}

.comment-index{
  margin-left: 60px;
  margin: 20px 0;
  width: 666px;
}
.comment-index-counter{
  border-bottom: 1px solid rgba(60,64,71, .1);
  padding-bottom: 10px;

}
.comment-index-counter i{
  padding-right: 5px;
  color:#3C4047;
}

.comment-list{
  display: flex;
  flex-direction: column;
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

.comment-song{
  width: 640px;
  height: 60px;
  padding: 10px 10px 10px 0;
}

.comment-username{
  font-size: 12px;
  color: #999999;
}

.comment-song p{
  margin: 0;
  margin-top:3px;
  padding: 0;
}

.comment-item-meta{
  height: 40px;
  width: 74px;
  position: relative;
  left:590px;
  top:-35px;
  font-size: 10px;
  overflow: hidden;
  color: #999999;
}

.comment-button{
  height: 24px;
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 4px;
  opacity: 0;;
}

.comment-song:hover .comment-button{
  opacity: 1;
}
