/* TODO Add site wide styles */
footer{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 49px;
  left:0;
  margin: auto;
  justify-content: center;
  background-color: #3C4047 ;
  font-size: 12px;
  color:#FCFCF4;
  z-index: 4;
}

html {
  overflow-y: overlay;
}
html,
body{
  background-color: #FCFCF4;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: -1;
  font-family: 'Lucida Grande','Lucida Sans', 'Lucida Sans Regular',  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body button:hover,
body link:hover{
  cursor: pointer;
}


.rhap_container {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 70% !important;
  max-width: 1100px !important;

}

.rhap_container svg,
.rhap_container div,
.rhap_volume-bar-area,
#rhap_current-time,
.rhap_total{
  color:#FCFCF4 ;
}

.rhap_progress-filled{
  background-color: #FCFCF4  !important;
}

#root{
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  max-width: 1240px;
  min-height: 1250px;
  /* min-width: 1024px; */
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  /* background-color: #3C4047; */
  background: #FCFCF4;
  border: 1px #3C4047 solid;
}
::-webkit-scrollbar-thumb {
  background: #3C4047;
}
.cb-button{
  height: 26px;
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 12px
}

.play-button:has(> .fa-pause){
  opacity: 1;
}

@media (max-width: 1230px) {
    .banner-screen,
    .banner,
    .splash-page
    .splash-page.splash-page-other,
    .listening-wrapper-main,
    .song-details-banner,
    .song-banner-bg,
    .user-details-banner
    #root
    {
      max-width: 1000px;
    }
    .badge-details{
      margin-top: 20px;
    }
  .center{
    width: 1000px !important;
    margin-left: -500px !important;
  }
  .listening-wrapper-left,
  .comment-bar-wrapper
  {
    margin-left: 20px;
  }

  .play-button{
    top: 70% !important;

  }


    .splash-box {
      display: grid;
      grid-template-columns: repeat(4, 150px);
      gap: 2%;
      position: relative;
      top: 0px;
      max-width: 900px;
      margin-top: 40px;


    }

    .song-image,
    .hover-image{
      min-height: 140px !important;
      min-width: 140px !important;
      max-height: 140px !important;
      max-width: 140px !important;
      margin-bottom: 3px;
    }
    .song-title-container > .play-button{
      top: 0px !important;
    }
}
