.play-button{
  background-color: #3C4047;
  border: 1px transparent solid;
  border-radius: 99px;
  align-self: center;
  position: relative;
  top: 100px;
  width: 50px;
  height: 50px;
  z-index: 2;
  opacity: 0;
}

.play-button:hover{
  opacity: 1;
  cursor: pointer;
}
.play-button i{
  color: #FCFCF4;
  scale: 1.5;
}

/* .fa-circle-pause{
  color: #FCFCF4;
  scale:3;
  z-index: 2;
} */

.hover-image:hover .play-button{
  opacity: 1;
}

.hover-image{

display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
}


.trending-tracks{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  max-width: 1180px;
  margin:auto;
  text-align: center;
}

.trending-tracks-title{
  text-align: center;
  width: 100%;
  position: relative;
  top: 460px;
  font-size: 24px;
  margin-top:30px;

}

.splash-badge{
  display: flex;
  flex-direction: column;
  margin: auto;
  /* align-items: center; */
}
.song-image{
  height: 153.31px;
  width: 153.31px;
  margin:0;
}
.splash-badge *{
  font-size: 12px;
  text-decoration: none;
}



.splash-box {
  display: grid;
  grid-template-columns: repeat(6,175px);
  position: relative;
  top: 450px;

}

.badge-details *{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 3px;
  padding: 0;
  opacity: .7;
}

.badge-details a{
  margin-left: 0px;
  opacity: 2 !important;
}
