.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 46px;
  max-width: 1180px;
  background-color: #3C4047 ;

}

.nav-bar *{
  z-index: 1;
}

.logo {
  width: 186px;
}

.logo input{
  height: 100%;

}
